svg {
  fill: #71dd75;
  stroke: #71dd75;
}
/*
******************************************
*
*   Subscription and contact  "MESSAGE"
*   
*/
.subscription-failed,
.email-failed {
  color: #71dd75 !important;
}
.subscription-success,
.email-success {
  color: #71dd75 !important;
}
/*
******************************************
*
*   class:  Header
*   id: 
*/
.overlay_color {
  background-color: rgba(0, 0, 0, 0.8);
}
svg {
  stroke: #71dd75;
}
.subscribe_form .input-group .form-control {
  border-color: #71dd75;
}
/*
******************************************
*
*   class:  contact  (contact area and map)
*   id: section-4
*/
/*  Contact Form Area CSS */
.btn-group .btn {
  border-color: #71dd75;
  color: #71dd75;
}
.btn-group .btn:hover,
.btn-group .btn:focus,
.btn-group .btn:active,
.btn-group .btn.active {
  background-color: #48dd4d;
}
.btn-group .btn-subscribe {
  background-color: #71dd75;
}
.btn-main {
  background: #71dd75;
}
.btn-main:hover,
.btn-main:focus,
.btn-main:active,
.btn-main.active {
  background: #48dd4d;
  border-color: #48dd4d !important;
}
/*  Contact Body Left Side  */
.btn-submit {
  background-color: #71dd75 !important;
  border-color: #71dd75 !important;
}
.btn-submit:hover,
.btn-submit:focus,
.btn-submit:active,
.btn-submit.active {
  background-color: #48dd4d !important;
  border-color: #48dd4d !important;
}
/*  Contact Body Right Side  */
.contact_body_right p a:hover {
  color: #71dd75;
}
/*
******************************************
*
*   TAB AREA
*   
*/
.tab-body .nav-tabs-cus li a:hover {
  background-color: #71dd75 !important;
}
.tab-body .nav-tabs-cus .active {
  width: 60%;
}
.tab-body .nav-tabs-cus .active a {
  background-color: #71dd75 !important;
}
.icon:hover .hex {
  background-color: #71dd75;
}
/*
******************************************
*
*   IMAGE HOVER EFFECT CUSTOM CSS
*    
*/
.view-first .mask {
  background-color: rgba(113, 221, 117, 0.5);
}
/*
******************************************
*
*   Carousel Slider Page counter button  --   CSS
*    
*/
.owl-page span {
  background-color: #71dd75 !important;
}
/*
******************************************
*
*   Hexagon Shape
*    
*/
.hex {
  background-color: #71dd75;
}
/*
******************************************
*
*   PRELOADER CSS
*    
*/
.spinner-wrapper {
  background: #71dd75;
}
/*
******************************************
*
*   NICE SCROLL CSS
*    
*/
.nicescroll-rails > div {
  background-color: #48dd4d !important;
}
